<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <div class="lastTemp">
          <div class="temp-logo">
            <i class="fa-solid fa-2x fa-location-dot"></i>
          </div>      
          <div class="temp-font">Local 1</div>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg" >
    <img class="bg-img" src="../../assets/images/bg-thermo.png" alt="">
    <div class="box">
      <div class="temp-high">
        <button class="btn btn-high" (click)="upTemp()" [ngClass] ="power ? 'enable' : 'disable'">
          <span><i class="fa-solid fa-2x fa-plus"></i></span>
        </button>
      </div>     
      <div class="middle">
        <div class="cont" (click)="shutDown()" [ngClass] ="power ? 'powerOff' : 'powerOn'">
          <div class="regu">
            <a class="path">
              <div class="temp">
                <i class="fa-solid fa-power-off" id="btn-power"></i>
                <ng-container *ngIf="power">
                  {{ desiratedTemp }}°
                </ng-container>
              </div>
            </a>
            <div class="led " [ngClass] ="power ? 'on' : 'off'"></div>
          </div>
        </div>
      </div>
      <div class="temp-down">
        <button class="btn btn-down" (click)="downTemp()" [ngClass] ="power ? 'enable' : 'disable'">
          <span><i class="fa-solid fa-2x fa-minus"></i></span>
        </button>
      </div>
    </div>
  </div>
</ion-content>