<ion-header>
  <ion-toolbar color="dark" style="color: #222428;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pw-title">
        <div class="logo-house">
          <ion-icon name="home-outline" size="large" style="color: white; padding-right: 15px;"></ion-icon>
        </div>
        <div class="zone">     
          <div *ngIf="zone" class="zone-font">{{zone.name}}</div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="temp-header">
    <ion-icon name="thermometer-outline" size="large" style="color: white"></ion-icon>
    <div *ngIf="zone" class="temp-font">{{zone.heating.lastTemp}}°</div>
  </div>
  <div class="content">
    <div class="plus">
      <button class="btn btn-high" (click)="sendCommandPlus(zone._id)" [ngClass] ="power ? 'enable' : 'disable'">
      <span><i class="fa-solid fa-2x fa-plus"></i></span>
      </button>
    </div>
    <div class="desired-temp">
      <div class="thermostat" (click)="turnPower(zone._id)">
        <div class="temp" [ngClass] ="power ? 'powerOn' : 'powerOff'">
          <i class="fa-solid fa-3x fa-power-off" id="btn-power"></i>
          <div class="temp-font-thermo">
            <ng-container *ngIf="power && zone">
              {{ zone.heating.desiredTemp }}°
            </ng-container>
          </div>   
        </div>
        <div class="led" [ngClass] ="power ? 'on' : 'off'"></div>
      </div>
    </div>
    <div class="min">
      <button class="btn btn-down" (click)="sendCommandMinus(zone._id)" [ngClass] ="power ? 'enable' : 'disable'">
      <span><i class="fa-solid fa-2x fa-minus"></i></span>
      </button>
    </div>
  </div>
</ion-content>