/* TEMP HEADER */

.temp-header {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  height: 50px;
}

.temp-font {
  color: #75B838;
  font-weight: bold;
  font-size: 2em;
  margin-right: 5%;
}

.fa-temperature-half {
  color: white;
  margin-right: 2%;
}

/* CONTENT */

ion-content {
  --background:url("../../assets/images/bg-thermo.png");
  --overflow: hidden;
}

.content {
  height: 100%;
}

.zone-font {
  color: #75B838;
  font-weight: bold;
  font-size: 1.5em;
}

/* BUTTONS */

.btn {
  display: inline-block;
  position: relative;
  padding: 16px 48px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
}

/* PLUS */

.plus {
  display: grid;
  justify-content: center;
  height: 25%;
  width: 100%;
  align-content: flex-end;
}

.btn-high {
  background-color: #FA5858;
}

/* THERMOSTAT */

.desired-temp {
  height: 50%;
  display: flex;
  width: 100%;
  align-items: center;
}

.thermostat {
  position: relative;
  width: 65vw;
  height: 65vw;
  margin: 0 auto;
  background: #cdcdcd;
  border-radius: 50vw;
  box-shadow: 0 0 12vw rgba(233, 226, 222, 1), 0 0 12vw rgba(210, 206, 204, 1) inset;
  padding: 6vw;
  box-sizing: border-box;
}

.thermostat::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 50vw;
  border-radius: 45vw;
  top: 7vw;
  left: 7vw;
  background: linear-gradient(180deg, #fefaf7 0%, #aaa6a8 100%);
  box-shadow: 0 5vw 7vw rgba(175, 167, 155, 1);
  z-index: 4;
}

.led{
  position:absolute;
  width:78%;
  height:78%;
  content:"";
  background:#75B838;
  border-radius:50%;
  z-index:1;
  top:12%;
  left:11%;
  box-shadow:0 1vw 5vw #75B838;
  transition:all 0.1s linear;
}

.on {
  background:#75B838;
  box-shadow:0 1vw 5vw #75B838;
}
.off {
  background:#c93b22;
  box-shadow:0 1vw 5vw #c93b22;
}

.temp{
  display: inline-grid;
  left:40%;
  letter-spacing:0.2vw;
  top:20vw;
  color:black;
  z-index:66;
  font-family:futura;
  font-weight:100;
  position:absolute;
}

.powerOff {
  font-size: 10vw;
  left: 27%;
  top: 27%;
}

.temp-font-thermo {
  font-size:11vw;
}


/* MIN */

.min {
  display: grid;
  justify-content: center;
  height: 25%;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 100%;
}

.btn-down {
  background-color: #5882FA;
}