<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Helios Control Lite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="image"></ion-img>
  <ion-button color="success" expand="block" shape="round" size="large" (click)="takePhoto()">Prendre une photo</ion-button>
  <ion-button color="success" expand="block" shape="round" size="large" (click)="recognizeImages()">Traduire l'image</ion-button>
  <ion-card-content style="color: white;">
    Text décodé = {{ ocrResult }}
  </ion-card-content>
  <ion-button color="success" expand="block" shape="round" size="large" (click)="enterDigits()">Entrer les chiffres</ion-button>

</ion-content>
