ion-content {
  --background: #333;
  --overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 400px; /* Définissez une largeur maximale pour éviter le débordement sur les petits écrans */
}

.num {
  background-color: transparent;
  width: 50px;
  text-align: center;
  outline: none;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: .5rem;
  color: white;
  font-family: futura;
  background: url('../../../assets/images/single-counter.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 66px;
  padding-left: 4px;
}

.num2 {
  color: black;
  background: url('../../../assets/images/single-counter-dec.png') no-repeat;
  background-size: contain;
  background-position: center;
}

/* Appliquez des styles spécifiques aux petits écrans */
@media screen and (max-width: 480px) {
  .container-form {
    max-width: 275px;
  }
  
  .num {
    width: 40px;
    height: 50px;
    font-size: 1.5rem;
  }
}

.photo-container {
  position: relative;
}

.photo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.photo-overlay.active {
  display: block;
}

.photo-frame-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115%;
  height: 40px;
  border: 2px solid #000;
  box-sizing: border-box;
}

.photo-frame-overlay::before,
.photo-frame-overlay::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.photo-frame-overlay::before {
  top: 0;
  left: 0;
  right: 0;
  height: calc(50% - 100px);
}

.photo-frame-overlay::after {
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(50% - 100px);
}

.photo-frame-overlay ion-img {
  display: none;
}
