<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Helios Control Lite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="image"></ion-img>
  <div class="camera-overlay">
    <div class="camera-overlay-inner"></div>
  </div>
  <ion-button expand="full" (click)="takePhoto()">Prendre une photo</ion-button>
  <ion-button expand="full" (click)="recognizeImages()" [disabled]="!workerReady">Reconnaître l'image</ion-button>
  <ion-card-content>
    Text décodé = {{ ocrResult }}
  </ion-card-content>
  <ion-button expand="full" (click)="enterDigits()">Entrer une série de chiffre</ion-button>

</ion-content>
