.pw-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pw-logo {
  padding-right: 15px;
}

.pw-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-content {
  --overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo {
  margin-bottom: 20px;
}

.input-container {
  width: 80%;
  margin-bottom: 20px;
}

ion-input {
  --background: #555;
  border-radius: 10px;
  --border-color: #ccc;
  color: #fff;
  width: 125%;
}


ion-button {
  margin-top: 20px;
}
