<ion-header>
  <ion-toolbar color="dark" style="color: #222428;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="pw-title">
        <div class="pw-logo">
          <i class="fa fa-key" aria-hidden="true"></i>
        </div>      
        <div class="pw-font">Password</div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #333; color: #fff;">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/logo  helios vert.png" alt="Logo">
    </div>
    <form action="">
      <div class="container-form">
        <input type="number" inputmode="numeric" class="num" id="code1" [(ngModel)]="pincode[0]" maxlength="1" (focus)="maFonction2(0)" (keyup)="maFonction(2)" required [ngModelOptions]="{standalone: true}">
        <input type="number" inputmode="numeric" class="num" id="code2" [(ngModel)]="pincode[1]" maxlength="1" (focus)="maFonction2(1)" (keyup)="maFonction(3)" required [ngModelOptions]="{standalone: true}">
        <input type="number" inputmode="numeric" class="num" id="code3" [(ngModel)]="pincode[2]" maxlength="1" (focus)="maFonction2(2)" (keyup)="maFonction(4)" required [ngModelOptions]="{standalone: true}">
        <input type="number" inputmode="numeric" class="num" id="code4" [(ngModel)]="pincode[3]" maxlength="1" (focus)="maFonction2(3)" required [ngModelOptions]="{standalone: true}">
      </div>     
    </form>
    <div class="buttons-container">
      <ion-button color="success" expand="block" shape="round" (click)="onConfirm()">Confirm</ion-button>
      <ion-button color="danger" expand="block" shape="round" (click)="navigation('home')">Cancel</ion-button>
    </div>
  </div>
</ion-content>