ion-content {
  --background: #333;
}

.odometer-number {
  display: block;
  background: url('../../../assets/images/single-counter.png');
  color: white;
  font-size: xx-large;
  width: 35px;
  float: left;
}

.odometer-number span {
margin-left : 8px;
}

.odometer-decimal span {
margin-left : 8px;
}

.odometer-decimal {
display: block;
background: url('../../../assets/images/single-counter-dec.png');
color: black;
font-size: xx-large;
width: 35px;
float: left;
padding-left: 8px;
}

.unit-odometer h3 {
color : white !important;
font-weight: bold;
}