/* HEADER */

.logo {
  padding-top: 30px;
}

/* BODY */

ion-content {
  --overflow: hidden;
}

ion-button.btn-home {
  bottom: 5px;
  position: absolute;
  width: 100%;
  padding: 0 10px 0 10px;
}

.bg {
  height: 100%;
  width: 100%;
}
.bg-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6; 
}

.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.scan-button {
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100vw;
  height: 50px;
  z-index: 11;
}

.custom-snackbar {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}