/* HEADER */

.logo {
  padding-top: 30px;
}

/* BODY */

ion-content {
  --overflow: hidden;
}

ion-button.btn-home {
  bottom: 5px;
  position: absolute;
  width: 100%;
  padding: 0 10px 0 10px;
}

.bg {
  height: 100%;
  width: 100%;
}
.bg-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6; 
}